<!DOCTYPE html>
<html><head>
	<title><%= @level.title %> - <%= current_user.username %> - RAPT Editor</title>
  <%= csrf_meta_tag %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript"><!--

var username = "<%= current_user.username %>";
var levelname = "<%= @level.html_title %>";

	// --></script>
</head><body>
	<div id="toolbar">
		<div class="section">
			<a id="mode_empty" class="first toolbar-current">Empty
			</a><a id="mode_solid">Solid
			</a><a id="mode_diagonal" class="last">Diagonal
			</a>
			<div class="label">Tiles</div>
		</div>
		<div class="section">
			<a id="mode_start" class="first">Start
			</a><a id="mode_goal" class="last">Goal
			</a>
			<div class="label">Players</div>
		</div>
		<div class="section">
			<a id="mode_enemies" class="first">Enemies
			</a><a id="mode_walls_buttons">Walls / Buttons
			</a><a id="mode_cog">Cog
			</a><a id="mode_sign" class="last">Sign
			</a>
			<div class="label">Objects</div>
		</div>
		<div class="section">
			<a id="mode_select" class="first">Select
			</a><a id="mode_help">Help
			</a><a id="mode_save_exit" class="last">Save &amp; Exit
			</a>
			<div class="label">Other</div>
		</div>
	</div>
	<div id="loading">Loading...</div>
	<canvas id="canvas"></canvas>
	<div id="help" class="sidebar"></div>
	<div id="enemies" class="sidebar"></div>
	<div id="walls" class="sidebar"></div>
	<div id="darken"></div>
	<div id="sign-text-modal">
		<div>Text for help sign:</div>
		<input type="text" id="sign-text">
		<button id="sign-text-change">Change</button>
		<button id="sign-text-cancel">Cancel</button>
	</div>
	<div id="overlay"></div>

	<%= stylesheet_link_tag :editor %>
	<%= javascript_include_tag :'jquery.mousewheel.min' %>
	<%= javascript_include_tag :editor %>

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21321916-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</body></html>
