<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="nav"><div>
    	<div id="logo"><a href="/">RAPT</a></div>
    	<% if !current_user.nil? %>
    	  Logged in as <%= current_user.username %>
    	  &bull;
    	  <a href="/users/sign_out">Sign Out</a>
        &bull;
    	<% end %>
      <a href="/play/">Play</a>
      &bull;
  		<a href="/edit/">Level Editor</a>
    </div></div>
    <% if content_for?(:header) %>
      <%= yield(:header) %>
    <% else %>
      <div id="title"><div><h1><%= content_for?(:title) ? yield(:title) : "Untitled" %></h1></div></div>
    <% end %>
    <div id="content"><div>
      <% if content_for?(:before_flash) %>
        <%= yield(:before_flash) %>
      <% end %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div></div>
    <div id="authors">Made in 2010-2011 by <a href="http://madebyevan.com/">Evan Wallace</a>, <a href="http://justinardini.com/">Justin Ardini</a>, Kayle Gishen, and <a href="http://paulkernfeld.com/">Paul Kernfeld</a></div>
    <div id="footer"><div><div></div></div></div>
    <script type="text/javascript">
    $(function() {
      <%== yield(:javascript) %>
    });

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-21321916-1']);
_gaq.push(['_trackPageview']);

(function() {
	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

    </script>
  </body>
</html>
